extends ../layout

block css
  link(rel="stylesheet", href="/public/vendor/CodeMirror-2.25/lib/codemirror.css")

block header_buttons
  ul.nav
    li
      a(href="/") Home
    li.dropdown
      a.dropdown-toggle(data-toggle="dropdown") Contents &raquo;
      ul.dropdown-menu
        li
          a(href="/chapter/javascript-basics") JavaScript Basics
        li
          a(href="/chapter/jquery-basics") jQuery Basics
        li
          a(href="/chapter/traversing-manipulating") Traversing &amp; Manipulating
        li
          a(href="/chapter/events") Events &amp; Event Delegation
        li
          a(href="/chapter/effects") Effects
        li
          a(href="/chapter/ajax-deferreds") AJAX &amp; Deferreds
    li
      a(href="mailto:jqf@bocoup.com") Feedback

  .pull-right
    button#editor-btn.btn.btn-primary Show Editor

block fixed_header
  .container
    #sandbox.row
      .span8
        #editor
      .span4
        #results

block body
  #main(data-chapter="#{sandbox}")
    if title
      .page-header
        h1= title

    .row
      .span8
        | !{content}
        ul.pager
          if previous
            li.previous
              a(href="#{previous.path}") &larr;&nbsp;Previous:&nbsp;#{previous.name}
          if next
            li.next
              a(href="#{next.path}") Next:&nbsp;#{next.name}&nbsp;&rarr;
      .span4
        #links.well
          ul.nav.nav-list
            li.nav-header Additional Resources
            for link in links
              li
                a(href="#{link.path}")= link.name

        include ../bocoup_ad


  | <script src="/public/vendor/require.js" data-main="/public/config"></script>

