extends ../layout

block css
  link(rel="stylesheet", href="/public/vendor/CodeMirror-2.25/lib/codemirror.css")

block header_buttons
  .pull-right
    button#editor-btn.btn.btn-primary Hide Editor

block fixed_header
  .container
    #sandbox.row
      .span8
        #editor
      .span4
        #results

block body
  #main
    if title
      .page-header
        h1= title

    .row
      .span8
        | !{content}
        ul.pager
          li.previous
            a(href="#{previous.path}") &larr;&nbsp;Previous:&nbsp;#{previous.name}
          li.next
            a(href="#{next.path}") Next:&nbsp;#{next.name}&nbsp;&rarr;
      .span4
        if links
          #links.well
            ul.nav.nav-list
              li.nav-header Additional Resources
              for link in links
                li
                  a(href="#{link.path}")= link.name

        include ../bocoup_ad


block scripts
  script(src="/public/vendor/CodeMirror-2.25/lib/codemirror.js")
  script(src="/public/vendor/CodeMirror-2.25/mode/javascript/javascript.js")
  script(src="/public/vendor/CodeMirror-2.25/mode/xml/xml.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  script(src="/public/js/editor.js")
  script(src="/public/js/chapter.js")
