extends ../layout

block css
  link(rel="stylesheet", href="/public/vendor/CodeMirror-2.25/lib/codemirror.css")

block header_buttons
  include ../nav

  .pull-right
    button#editor-btn.btn.btn-primary Show Editor

block fixed_header
  .container
    #sandbox.row
      .span8
        #editor
      .span4#results

block body
  #main(data-chapter="#{sandbox}")
    if title
      .page-header
        h1= title

    .row
      .span4
        #links.well
          ul.nav.nav-list
            li.nav-header Additional Resources
            for link in links
              li
                a(href="#{link.path}")= link.name

        include ../bocoup_ad

      .span8
        | !{content}
        ul.pager
          if previous
            li.previous
              a(href="#{previous.path}") &larr;&nbsp;Previous:&nbsp;#{previous.name}
          if next
            li.next
              a(href="#{next.path}") Next:&nbsp;#{next.name}&nbsp;&rarr;

block scripts
  script(src="/public/#{cachebust}/vendor/require.js", data-main="/public/#{cachebust}/main")

  script
    require([ 'js/chapter' ]);

