extends ../layout

block css
  link(rel="stylesheet", href="/public/vendor/CodeMirror-2.25/lib/codemirror.css")

block header_buttons
  include ../nav

block body
  .container
    .row
      .span12
        h2 #{title}
        #editor

  #main(data-exercise="#{exercise}")
    .row
      #exercise-html.span8
      .span4
        .well.instructions
          !{content}

block scripts
  script(src="/public/#{cachebust}/vendor/require.js", data-main="/public/#{cachebust}/main")

  script
    require([ 'js/exercise' ]);